<a href="https://colab.research.google.com/github/sasl09/A2Course/blob/main/FilterMapLambdaReduceII.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### A2 COURSE

In [ ]:
#Make some random list
someList = [-3, 5, 8, 4, 1, -6, 7, 10]

### FILTER

In [ ]:
#First, create a filtering function to apply to our filter
def getEvenNumber(i):
    return i % 2 == 0 #Return only even numbers

In [ ]:
#Then create a list with the result of applying our filtering function to a list
list(filter(getEvenNumber, someList))

[8, 4, -6, 10]

In [ ]:
#You can always use a comprehension list instead
[i for i in someList if getEvenNumber(i)] #Use it like this if you just wanna show result and don't need it stored

[8, 4, -6, 10]

In [ ]:
#FIlter out numbers that aren't divisible by either 2 and 3
someList = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

divBy_2_3 = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, someList))
divBy_2_3

### LAMBDA

In [ ]:
#Use lambda to define a function on same line of code, instead of having to define a func previously
list(filter(lambda i: i%2==0, someList)) #Return i if reminder of i divided by 2 equals 0

[8, 4, -6, 10]

In [ ]:
#Sort list of tuples by number order (index 1 of each tuple)
listTuples = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
print("Original list of tuples:")
print(listTuples)
listTuples.sort(key = lambda x: x[1]) #Apply sort to index 1, which is the one with the numbers
print("\nSorted List of Tuples:")
print(listTuples)

### MAP

In [ ]:
#Unlike FILTER (which only filters data we already have), MAP executes operations on our data by using LAMBDA
list(map(lambda i: i ** 3, someList))

[-27, 125, 512, 64, 1, -216, 343, 1000]

In [ ]:
list(filter(lambda i: i ** 3, someList)) #Same code as above, but with filter, will return values in our data.

[-3, 5, 8, 4, 1, -6, 7, 10]

In [ ]:
#Again. You can always use a comprehension list
[i**3 for i in someList]

[-27, 125, 512, 64, 1, -216, 343, 1000]

In [ ]:
#Convert a list into a tuple and each of its items in strings
someList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tup = tuple(map(lambda x: str(x), someList))
tup

## Challenge

In [ ]:
# Make a list with range 15
someList2 = list(range(1,16))
someList2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
# Filter out even numbers
list(filter(lambda i: i%2!=0, someList2))

[1, 3, 5, 7, 9, 11, 13, 15]

In [ ]:
# Make a new list out of first list with squares of each value
list(map(lambda i: i**2, someList2))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

In [ ]:
# Filter out even numbers, then get each odd number's square
list(map(lambda i: i**2, filter(lambda i: i%2!=0, someList2))) #This will get done the second function first (filter). 
#map goes second.

[1, 9, 25, 49, 81, 121, 169, 225]

### REDUCE

### Reduce applies a function CUMULATIVELY to elements of an iterable, from left to righ

In [ ]:
# importing functools for reduce()
import functools
 
# Generate list
lis = [i for i in range(1,26)]
print(lis)
 
# using reduce to compute sum of list
print("The sum of the list elements is : ", end="")
print(functools.reduce(lambda a, b: a+b, lis))

# using reduce to compute product of list
print("The product of the list elements is : ", end="")
print(functools.reduce(lambda a, b: a*b, lis))

# using reduce to compute maximum element from list
print("The maximum element of the list is : ", end="")
print(functools.reduce(lambda a, b: a if a > b else b, lis))

# using reduce to compute minimum element from list
print("The maximum element of the list is : ", end="")
print(functools.reduce(lambda a, b: a if a < b else b, lis))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
The sum of the list elements is : 325
The product of the list elements is : 15511210043330985984000000
The maximum element of the list is : 25
The maximum element of the list is : 1

In [ ]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]

product = reduce(lambda x, y: x*y, numbers)

print(product)

120